# Editors & Environment
.vagrant/
.vscode/
.idea/
.env
tslint.json

# NodeJS & NPM
node_modules/
*.js

.travis.yml

.dockerignore
Dockerfile

# Git
.git/
.gitignore
.gitattributes

*.log

README.md
CHANGELOG.md
release/
test/
tmp/